body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
table{
    -webkit-box-shadow: 0px 0px 15px 3px #919191; 
    box-shadow: 0px 0px 15px 3px #919191;

    padding: 10px;
    margin: auto;
    border-radius: 10px;
    border: solid 2px #a0a0a0;
    background-color: #e4e4e4;
    
}
thead{
    background-color: #ffffff;
}
th{
    padding: 20px;
    margin: auto;
    border-radius: 5px; 
    border: solid 2px #a0a0a0;
}
tbody{
    text-align: left;
    background-color: #ffffff;
    font-size: medium;
}
tr:nth-child(even){
    background: #c9c9c9;
}



#id{
    text-align: center;
}
button{
    border: solid 1px rgb(27, 27, 27);
}
.btn-excluir{
    font-size: medium;
    background: rgb(187, 25, 25);
    color: #ffffff;
    margin: auto;
    /* border: solid 2px rgb(48, 8, 8); */
    cursor: pointer;
}
.btn-editar{
    font-size: medium;
    background: rgb(53, 53, 53);
    color: #ffffff;
    margin: auto;
    /* border: solid 2px rgb(8, 48, 16); */
    cursor: pointer;
}