body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
table{
    padding: 10px;
    margin: auto;
    
}
thead{
    background-color: rgb(231, 150, 95);
    
}
th{
    padding: 20px;
    margin: auto;
}
/* #tabela{
    border-radius: 10px;
    border-color: rgb(192, 63, 23);
} */